altgraph==0.15
beautifulsoup4==4.6.0
click==6.7
future==0.18.3
itsdangerous==0.24
macholib==1.9
MarkupSafe==1.0
modulegraph==0.16
pefile==2017.11.5
py2app==0.14
PyInstaller==5.13.1
Werkzeug==3.0.1
mypy
isort
flake8
autoflake
black
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
